.content-container {
	background-color: var(--clr-contentContainer-bg);
	color: var(--clr-contentContainer-text);
	padding: 2em 3em;
	border-radius: 3em;
	position: relative;
	transition: background-color 150ms ease;

	h1 {
		color: var(--clr-contentContainer-title);
	}
}

.logo-link {
	position: absolute;
	bottom: 1.5em;
	right: 1.5em;

	svg {
		opacity: 0.8;
		transition: opacity 250ms ease;
	}

	&:hover svg {
		opacity: 1;
	}
}
